In [10]:
import pandas as pd
import os
import plotly.express as px
import plotly as plt
import json

In [11]:
geofile = open('source\\countries.geojson')
geojson = json.load(geofile)

In [12]:
mapbox_token = os.environ.get('MAPBOX_TOKEN')

In [13]:
middle_east = pd.read_csv('source\\middle_east.csv')

In [14]:
def get_area(country: str, continent: str) -> str:
    if (country in ['China', 'Macao', 'Hong Kong', 'Taiwan']):
        return 'China'
    if (country in ['India']):
        return 'India'
    if (country in middle_east.Country_Name.to_list()):
        return 'Middle East'
    if (continent == 'Europe'):
        return 'Europe'
    if (continent in ['North America', 'North America']):
        return 'America'
    return 'Others'

In [15]:
country = pd.read_excel('source\July 2021 International Statistics.xlsx', engine='openpyxl',skiprows=2)

In [16]:
continent = pd.read_csv('source\\continent.csv')

In [17]:
continent['simple_name'] = continent.Country_Name.map(lambda n: n.split(',')[0])

In [18]:
country['simple_name'] = country.COUNTRY_DESCR.map(lambda n: n.split(',')[0])

In [19]:
country_continent = pd.merge(country, continent, left_on='simple_name',  right_on='simple_name', how='left' )

In [25]:
country_continent

,COUNTRY_DESCR,Customer_counts,simple_name,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,China,70352,China,Asia,AS,"China, People's Republic of",CN,CHN,156.0
1,"Hong Kong, China",176,Hong Kong,Asia,AS,"Hong Kong, Special Administrative Region of China",HK,HKG,344.0
2,"Macau, China",6,Macau,Asia,AS,Macau,MO,MAC,446.0
3,"Taiwan, China",130,Taiwan,Asia,AS,Taiwan,TW,TWN,158.0
4,India,9947,India,Asia,AS,"India, Republic of",IN,IND,356.0
...,...,...,...,...,...,...,...,...,...
165,Niger,1,Niger,Africa,AF,"Niger, Republic of",NE,NER,562.0
166,Puerto Rico,1,Puerto Rico,North America,NaN,"Puerto Rico, Commonwealth of",PR,PRI,630.0
167,Togo,1,Togo,Africa,AF,"Togo, Togolese Republic",TG,TGO,768.0
168,Turkmenistan,1,Turkmenistan,Asia,AS,Turkmenistan,TM,TKM,795.0
169,Grand Total,138997,Grand Total,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
fig = px.choropleth_mapbox(country_continent, geojson=geojson, 
                           locations='simple_name',
                           featureidkey="properties.ADMIN",
                           mapbox_style="carto-positron",
                           zoom=3,
                           opacity=0.5,
                           color=' Customer_counts',
                           color_continuous_scale="Viridis",
                           range_color=(0, 80000),
                           labels={' Customer_counts':'Customer Count'}
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

ValueError: Value of 'color' is not the name of a column in 'data_frame'. Expected one of ['COUNTRY_DESCR', ' Customer_counts', 'simple_name', 'Continent_Name', 'Continent_Code', 'Country_Name', 'Two_Letter_Country_Code', 'Three_Letter_Country_Code', 'Country_Number'] but received: Customer_counts